.footer {
    width: 100%;
    border-top: 1px solid #c6c6c6;
    padding: 25px 10% 0px;
    background-color: #F7F7F7;

}

ul li a {
    color: #000;
    font-family: inherit;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0px;
}

ul li {
    list-style: none;
}

.header-footer {
    color: #000;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.copyright {
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #c6c6c6;
    padding-top: 20px;
    padding-bottom: 10px;
}
.copyright-footer{
    color: #000;
    font-family: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
